@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
html {
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

html body {
  margin: 0;
}

.contentContainer {
  position: fixed;
  height: 75px;
  width: 30%;
  bottom: 0;
  right: 20px;
  color: black;
  font-size: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: end;
}

.contentContainer a {
  position: relative;
  width: 75%;
}

.contentContainer a img {
  width: 100%;
}

.bigboy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.bigboy .gridContainer {
  display: -ms-grid;
  display: grid;
  width: 50%;
  min-width: 200px;
  height: 50%;
  -ms-grid-rows: 7fr 4fr;
  -ms-grid-columns: 1fr;
      grid-template: 7fr 4fr / 1fr;
  row-gap: 20px;
  background: #00acee;
  background: -webkit-gradient(linear, left bottom, left top, from(#00acee), to(#027efb));
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  padding: 5em;
  border-radius: 85% 10% 85% 10% / 10% 76% 10% 76%;
  color: #fff;
}

.bigboy .gridContainer .regimeMixte {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
  -ms-grid-columns: 5em (3fr)[2];
      grid-template: repeat(7, 1fr)/5em repeat(2, 3fr);
}

.bigboy .gridContainer .controleContinue {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: 5em (2fr)[3];
      grid-template: repeat(4, 1fr)/5em repeat(3, 2fr);
}

.bigboy .gridContainer .controleContinue, .bigboy .gridContainer .regimeMixte {
  gap: .2em 1em;
}

.bigboy .gridContainer input {
  border-radius: 4% 96% 4% 96% / 96% 4% 96% 4%;
  background-color: #daf5ff42;
  border: 0;
  text-align: center;
  color: #fff;
  scroll-behavior: none;
}

.bigboy .gridContainer input::-webkit-input-placeholder {
  color: #cccccc;
}

.bigboy .gridContainer input:-ms-input-placeholder {
  color: #cccccc;
}

.bigboy .gridContainer input::-ms-input-placeholder {
  color: #cccccc;
}

.bigboy .gridContainer input::placeholder {
  color: #cccccc;
}

.bigboy .gridContainer input:focus {
  border: 2px solid #fff;
  outline: none;
}

.bigboy .gridContainer input::-webkit-outer-spin-button, .bigboy .gridContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.bigboy .buttonn {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.bigboy .btn-3 {
  background: #00acee;
  background: -webkit-gradient(linear, left bottom, left top, from(#00acee), to(#027efb));
  background: linear-gradient(0deg, #00acee 0%, #027efb 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.bigboy .btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.bigboy .btn-3:before, .bigboy .btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #027efb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bigboy .btn-3:before {
  height: 0%;
  width: 2px;
}

.bigboy .btn-3:after {
  width: 0%;
  height: 2px;
}

.bigboy .btn-3:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bigboy .btn-3:hover:before {
  height: 100%;
}

.bigboy .btn-3:hover:after {
  width: 100%;
}

.bigboy .btn-3 span:hover {
  color: #027efb;
}

.bigboy .btn-3 span:before,
.bigboy .btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #027efb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bigboy .btn-3 span:before {
  width: 2px;
  height: 0%;
}

.bigboy .btn-3 span:after {
  width: 0%;
  height: 2px;
}

.bigboy .btn-3 span:hover:before {
  height: 100%;
}

.bigboy .btn-3 span:hover:after {
  width: 100%;
}

@media screen and (max-width: 649px) {
  body {
    font-size: 10px;
  }
  body input {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  body .gridContainer {
    padding-right: 7em;
  }
  body .regimeMixte, body .controleContinue {
    display: -ms-grid;
    display: grid;
    gap: 2px  10px;
    -webkit-column-gap: 1px;
            column-gap: 1px;
  }
}
/*# sourceMappingURL=index.css.map */