html{
    overflow-y: hidden;
}
.gridContainer{
    display: grid;
    width: 50%;
    height: 50%;
    grid-template: 7fr 4fr / 1fr;
    row-gap: 20px;
    .regimeMixte{
        display: grid;
        grid-template: repeat(7, 1fr ) / 5em repeat(2, 3fr);
        // row-gap: 5px;
        gap: 5px 40px;
    }   
    .controleContinue{
        display: grid;
        grid-template: repeat(4, 1fr)/ 5em repeat(3 , 2fr);
        // row-gap: 5px;
        gap: 5px 40px;
    }
}
.bigboy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width:  100%;
    height: 100vh;
    button{
        background-color: antiquewhite;
        border-radius: 20px;
        
    }
}